@use '@/styles/scss/abstracts/' as *;

.footerwrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color:$complementaryColor;
  font-family: Work Sans, sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  box-sizing: border-box;

.logoSection{

  .logo img {
    height: 55px;
    width: 100%;
    left:1rem;
  }

}

  .copyright{
    color:$primaryColor
  }

  .socialIcons{
    display: flex;
    margin-right: 20rem;
    color: $primaryColor;
    justify-content: space-between;

    a {
       margin:0.5rem;
       align-items: center;

    svg {
        display: block;       
        line-height: 1;      
        }
    }
  }

}
