@use '@/styles/scss/abstracts/' as *;

.footerwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:$complementaryColor;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

.logoSection{
  align-items: self-start;

  .logo img {
    width: 100%;
    max-width: 300px;
    height: 60px;
  }

}

  .copyright{
    color:$primaryColor
  }

  .socialIcons{
    display: flex;
    margin-right: 30rem;
    color: $primaryColor;
    justify-content: space-between;

    a {
       margin:0.5rem;
       align-items: center;

    svg {
        display: block;       // evita espacio interno de inline-svg
        line-height: 1;       // iguala la caja visual
        }
    }
  }

}
