@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

/* WRAPPER GENERAL */
.calculatorWrapper {
  width: 100%;
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}

/* TÍTULO */
.title {
  font-size: 2rem;
  color: #1d3e7d;
  font-weight: 700;
}

/* CONTENEDOR PRINCIPAL */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   
  padding: 2rem 6rem 2rem 1.8rem;
  overflow: visible;
}

/* LEFT COLUMN */
.Izquierda {
  display: flex;
  flex-direction: column;
  gap:50px;
  color: $complementaryColor;
  padding: 2rem 2rem 2rem 2rem;
  width: 600px;
  height: 450px;
  
}
.featureItem {
  display: flex;
  align-items: center;
  
}

.featureBox {
  background: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  font-size: 1.1rem;
  font-weight: 600;
  color: #1d3e7d;
}

/* RIGHT CARD */
.Derecha {
  height: 450px;
  width: 600px;
  background: white;
  color: $complementaryColor;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 25px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
}


.row {
  display: flex;
  justify-content: flex-start;  
  align-items: center;         
  gap: 1.5rem;                
  margin-bottom: 2.5rem;
  position: relative;
}

.actionBtn {
  margin-right: 20px;
  background-color: #1d3e7d;

  width: 260px;
  max-width: 200px;
  height: 60px;               
  
  display: flex;
  justify-content: center;
  align-items: center;        
  text-align: center;

  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;

  white-space: normal;       
  overflow: hidden;          

  padding: 0 1rem;            
  line-height: 1.1;           
}


/* RESULT (valor final) */
.result {
  font-size: 1.5rem;
  color: #1d3e7d;
  font-weight: 700;
}

/* ------------------------------ */
/*   CASILLAS BLANCAS UNIFICADAS */
/* ------------------------------ */

/* SELECT BLANCO */
.visibleSelect {
  width: 260px;
  height: 60px;

  font-size: 1.2rem;
  font-weight: 600;
  color: #1d3e7d;

  border: 2px solid #1d3e7d;
  background: white;
  border-radius: 1rem;

  padding: 0 1rem;
  cursor: pointer;
  outline: none;
  appearance: none;

  display: flex;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  z-index: 10;
}

/* INPUT BLANCO */
.visibleInput {
  width: 260px;
  height: 60px;

  font-size: 1.2rem;
  font-weight: 600;
  color: #1d3e7d;

  border: 2px solid #1d3e7d;
  background: white;
  border-radius: 1rem;

  padding: 0 1rem;
  outline: none;

  display: flex;
  align-items: center;

  z-index: 10;
}

/* Compatibilidad (no tocar) */
.selectWrapper { width: 220px; }
.inputWrapper { width: 220px; }
.invisibleSelect { display: none; }
.invisibleInput { display: none; }





