@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.heroWrapper {
  position: relative;
  transition: margin-top 0.3s ease;
  background-color: #18488b;
}

@media (max-width: 768px) {
  :global(body.menu-open) .heroWrapper {
    margin-top: 25rem; 
  }

  :global(body:not(.menu-open)) .heroWrapper {
    margin-top: 0;
  }
}


.heroContent {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 3rem 2rem 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  
  color: $primaryColor;
  box-sizing: border-box;

  @media (max-width: 430px) {
    padding: 1rem 1.5rem; 
  }
}


.leftCard {
  display: flex;
  flex-direction: column;
  background: white;
  color: $complementaryColor;
  padding: 1rem;
  border-radius: 25px;
  width: 600px;
  max-width: 100%; 
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;


  @media (max-width: 430px) {
    height: auto;
  }

  h2 {
    font-family: Work Sans, sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .headerItem {
    font-size: 20px;
    font-family: Work Sans, sans-serif;
  }
}


.ratesTable {
  width: 100%;
  display: grid;
  gap: 1rem;
}


.gridHeader {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.headerItem {
  font-size: 20px;

  @media (max-width: 430px) {
    font-size: 16px;
  }
}


.rateRow {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 1rem;

  strong {
    font-size: 1.4rem;
  }

  span {
    font-size: 1.4rem;
    font-weight: 600;
  }
}


.iconAndName {
  display: flex;
  align-items: center;
  gap: 1rem;

  strong {
    font-size: 1.5rem;
  }
}


.circleIcon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #1d3e7d;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.warningRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #1d3e7d;
  margin: 0;
}

.warningIcon {
  font-size: 3.5rem;
  color: #1d3e7d;
  flex-shrink: 0;
}

.warningBox {
  font-size: 20px;
}

.rightContent {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  max-width: 100%;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 430px) {
    width: 100%;
    padding: 0rem;
   
  }

  h3 {
    font-family: Work Sans, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;

    @media (max-width: 430px) {
      margin-top: 110px;
    }
  }

  h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    font-family: Work Sans, sans-serif;
    color: $brandColor;
  }

  p {
    margin-top: 40px;
    margin-right: 15px;
    font-family: Open Sans, sans-serif;
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
  }
}

.whatsappBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  margin-left: 7.5rem;
  display: inline-flex;
  align-items: center;
  background: white;
  padding: 0.8rem 1.4rem;
  border-radius: 50px;
  color: #1d3e7d;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 32px;
    height: 32px;
    margin-right: 0.8rem;
  }
}


.whatsappText {
  margin-left: 0.2rem;
}


@media (max-width: 600px) {
  .whatsappBtn {
    bottom: 16px;
    right: 16px;
    margin-left: 0;
    padding: 0.4rem;
    border-radius: 999px;  
  }

  .whatsappText {
    display: none;         
  }

  .whatsappBtn img {
    width: 42px;           
    height: 42px;
    margin-right: 0;       
  }
}

.curveBottom {
  width: 100%;
  height: 200px;
  background: url("/curve-bottom.svg") no-repeat bottom center;
  background-size: 100% 100%;
  margin-top: 0;
  z-index: 0;
}


@media (max-width: 600px) {
  .whatsappBtn {
  
    padding: 0.6rem 1rem;
    font-size: 16px;

    img {
      width: 26px;
    }
  }
}


@media (min-width: 992px) and (max-width: 1200px) {
  .heroContent {
    flex-direction: row;
    justify-content: center;
    gap: 2rem ;
    padding: 3rem 3rem 0rem 3rem;
  }

  .leftCard,
  .rightContent {
    width: 48% !important;     
    max-width: 500px !important;
    height: auto !important;   
  }

  .rightContent h3 {
    margin-top: 0 !important;
  }
}


@media (min-width: 650px) and (max-width: 991px) {
  
  .heroContent {
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    padding: 3rem 2rem 1rem 1rem;
    gap: 2rem ;
  }

 
  .leftCard,
  .rightContent {
    width: 100% ;       
    width: 700px ; 
    margin: 0 auto;
    height: auto;
  }

  .rightContent h3 {
    margin-top: 1rem !important;
  }


  .whatsappBtn {
    bottom: 18px;
    right: 18px;
    padding: 0.5rem;
    border-radius: 999px;
    margin-left: 0;
  }

  .whatsappText {
    display: none;
  }

  .whatsappBtn img {
    width: 46px;
    height: 46px;
    margin-right: 0;
  }
}


