@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 6rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: white;
  color: $complementaryColor;
  padding: 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.titulo {
  text-align: center;
  width: 100%;
  font-size: 52px;
  font-family: 'Work Sans', sans-serif;
  color: $complementaryColor;
}

.photoWrapper {
  position: relative;
  width: 200px;
  height: 400px;
  border-radius: 25px;
}

.photo {
  object-fit: cover;
  height: auto;
  width: auto;
}

@media (max-width: 430px) {

  .wrapper {
    padding: 1.5rem !important;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;         
    width: 100%;                     
    height: 250px;                    
    padding: 1.5rem;
    gap: 1rem;
           
  }

  .photoWrapper {
    width: 100%;                     
    height: auto;
    display: flex;
    justify-content: center;
  }

  .photo {
    width: 90%;
    max-width: 300px;                
    border-radius: 20px;
    height: auto;
  }

  .titulo {
    font-size: 40px;                
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {

  .wrapper {
    padding: 2rem 3rem 0 3rem;   
  }

  .container {
    justify-content: space-between !important;
    gap: 3rem;
    align-items: center;         
  }

  .card {
    width: 600px;                
    height: 550px;               
  }


  .photoWrapper {
    width: 160px;
    height: 320px;
  }

  .photo {
    height: 100%;
    width: auto;
    object-fit: contain;         
  }
  
  .iconWrapper {
    gap: 1.5rem;
  }

  .iconWrapper svg {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 650px) and (max-width: 991px) {


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 1rem 1rem 4rem;
  }

  .card{
    width:705px;
    max-width: 705px !important;
  }
}