@use "sass:color";
@use '@/styles/scss/abstracts/' as *;


.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 6rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

}


.card {
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: white;
  color: $complementaryColor;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);

}

.titulo {
  text-align: center;
  width: 100%;
  font-size: 52px;
  font-family: 'Work Sans', sans-serif;
  color: $complementaryColor;
}

.photoWrapper {
  position: relative;
  width: 200px;   
  height: 400px;
  border-radius: 25px;
}

.photo {
  object-fit: cover;
  height: auto;
  width: auto;

}



