@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.showcase {
  margin-top:30px;
  padding: 0px 2px;
  background: no-repeat center/cover;  
  height: 25vh;
  

  .overlay {
    background-color: rgba(213, 213, 240, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
 

    h1 {
      font-size: 2.8em;
      font-weight: 400;
      color: $complementaryColor;
      letter-spacing: 1px;

      span {
        font-weight: 700;
      }
    }

    p {
      margin: 0.5rem;
      font-size: 1.2em;
      color:$complementaryColor;
    }
  }
}
