@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.wrapper {
  display: flex;
  margin-left: 0px;
  padding: 2rem 6.3rem 2rem 2rem;
  justify-content: center;
  background: $primaryColor;
  color: $complementaryColor;
}

.tarjeta {
  width: 1500px;
  padding: 2rem;
  background: white;
  border-radius: 25px;
  box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 70px;
    height: auto;
    color:$complementaryColor;  
  }

  .title {
    font-size: 52px;
    color: $complementaryColor;
    font-family: Work Sans, sans-serif;
    font-weight: 700;
  }
}

.update {
  color: $complementaryColor;
  font-size: 16px;
  margin-bottom: 2rem;
}

.content {
  text-align: center;
  color: $complementaryColor;

  h3 {
    font-family: Work Sans, sans-serif;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 40px;
    color: $complementaryColor;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    color: $complementaryColor;
  }
}


@media (max-width: 430px) {

  .wrapper {
    padding: 1.5rem;
    margin-bottom: 50px;
  }

  .tarjeta {
    width: 100%;           
    padding: 1.5rem;
    height: auto;           
    border-radius: 20px;
  }

  .header img {
    width: 55px;             
  }

  .header .title {
    font-size: 36px;         
    line-height: 1.1;
  }

  .update {
    font-size: 14px;
    margin-bottom: 1.5rem;
  }

  .content p {
    font-size: 18px;
    line-height: 1.45;
  }

  .content h3 {
    font-size: 28px;         
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {

 
  .wrapper {
     padding: 2rem 3rem 3rem 3rem !important; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

 
  .wrapper {
     padding: 2rem 2.8rem 3rem 1.5rem; 
  }
}


