@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.QuienesSomosWrapper {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.titulo {
  font-size: 40px;
  color:$complementaryColor;
  margin-bottom: 2rem;
  font-weight: 700;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   
  padding: 0 6rem 2rem 1.8rem;
  overflow: visible;



.izquierda {
  height: 435px;
  text-align: center;
  background: white;
  color: $complementaryColor;
  padding: 0rem 2rem 1rem 1rem;
  border-radius: 25px;
  width: 42%;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: 900px) {
    width: 100%;
  }

  h2 {

    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .texto  {
    margin-top: 11rem;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    color: $complementaryColor;
  }
}



.derecha {
  height: max-content;
  background: white;
  padding-top: 1rem;            
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0rem;
  border-radius: 2rem;
  box-shadow: 12px 12px 0 rgba(0,0,0,0.1);
  width: 45%;
}
}



















