@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.QuienesSomosWrapper {
  width: 100%;
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}

.titulo {
  font-family: 'Work Sans', sans-serif;
  font-size: 52px;
  color:$complementaryColor;
  margin-bottom: 2rem;
  font-weight: 700;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   
  padding: 2rem 6rem 2rem 1.8rem;
  overflow: visible;



.izquierda {
  display:flex;
  flex-direction: column;
  background: white;
  color: $complementaryColor;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);


  @media (max-width: 900px) {
    width: 100%;
  }

  h2 {

    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .texto  {
    margin-top: 11rem;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: open-sans, sans-serif;
    color: $complementaryColor;
  }
}

.derecha {
  display:flex;
  flex-direction: column;
  background: white;
  color: $complementaryColor;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  overflow: hidden;
}
}

.imagen{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
  object-fit: cover; 
}



















