@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.QuienesSomosWrapper {
  width: 100%;
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}

.titulo {
  font-family: 'Work Sans', sans-serif;
  font-size: 52px;
  color: $complementaryColor;
  margin-bottom: 2rem;
  font-weight: 700;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 6rem 2rem 6rem;
  overflow: visible;
}

.izquierda {
  display: flex;
  flex-direction: column;
  background: white;
  color: $complementaryColor;
  padding: 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: open-sans, sans-serif;
    color: $complementaryColor;
  }
}

.derecha {
  display: flex;
  flex-direction: column;
  background: white;
  color: $complementaryColor;
  padding: 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  overflow: hidden;
}

.imagen {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

@media (max-width: 430px) {

  .container {
    flex-direction: column;      
    padding: 1.5rem;            
    gap: 2rem;
  }

  .izquierda, 
  .derecha {
    align-items: center;
    text-align: center;
    width: 100%;            
    height: auto;               
    padding: 1.5rem;            
  }

  .izquierda .texto {
    margin-top: 1rem; 
    font-size: 18px;
    line-height: 1.4;
  }

  .imagen {
    width: 100%;                
    max-width: 220px;
    margin: 0 auto 1rem auto;
  }

  .titulo {
    font-size: 42px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {


  .container{
    padding: 2rem 3rem 2rem 3rem;
    justify-content: space-between !important;
    gap: 3rem;
    align-items: center; 
  }

  .izquierda,
  .derecha {
    width: 600px;                
    height: 550px; 
  }
}

@media (min-width: 650px) and (max-width: 991px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 2rem 1rem 1rem;
  }

  .izquierda{
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;
    width: 100%;
    max-width: 700px;
    height: 400px;
  }
    

  .derecha {
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin: 0 auto;
  }
  .derecha {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagen {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}