@use '@/styles/scss/abstracts/' as *;

.bgWrapper {
  padding: 2rem 0rem 0rem 0rem;
  background-image: url('/Fondo_Visitanos.png');
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(4px);
    z-index: 0;
  }
}

.wrapper {
  position: relative;
  z-index: 1;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 6rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 52px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  color: $complementaryColor;
}

.container {
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  color: $complementaryColor;
  padding: 2rem;
  border-radius: 25px;
  width: 600px;
  height: 550px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: 900px) {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  h3 {
    color: $complementaryColor;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.photoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo {
  width: 80%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
}

.btn {
  background-color: #1d3e7d;
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;

  width: 90%;
  max-width: 260px;
  height: 60px;

  margin: 0 auto;
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.9;
  }
}


@media (max-width: 430px) {

  .wrapper {
    padding: 1.5rem !important;
  }

  .container {
    gap: 2rem;
    padding: 1rem 0;
  }

  .card {
    width: 100%;
    height: auto;              
    padding: 1.5rem;
  }

  .header h3 {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }

  .header {
    justify-content: center;
  }

  .photo {
    width: 95%;
    height: auto;
    max-height: 220px;
  }

  .btn {
    width: 100%;
    max-width: none;
    height: 55px;
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }
}



