@use '@/styles/scss/abstracts/' as *;


.bgWrapper {
  width: 100%;
  padding: 4rem 0;
  background-image: url('/Fondo_Visitanos.png');
  background-size: cover;
  background-position: center;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.92); 
    backdrop-filter: blur(4px);
    z-index: 0;
  }
}


.wrapper {
  position: relative;
  z-index: 1;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.titulo {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  color: $complementaryColor;
}


.container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}


.card {
  background: white;
  width: 48%;
  height: 435px;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 1.2rem;

  @media (max-width: 900px) {
    width: 100%;
  }
}


.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  h3 {
    color: $complementaryColor;
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
}


.photoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo {
  width: 80%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
  
}


.emptySpace {
  width: 100%;
  height: 230px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.03);
}


.btn {
  background-color: #1d3e7d;
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;

  width: 90%;
  max-width: 260px;
  height: 60px;

  margin: 0 auto; 
  margin-top: auto; 
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.9;
  }
}


